 

.chat-view-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.chats-list-contain {
    width: 300px;
    border-right: 1px solid #ccc;
    
    overflow-y: auto;
}

.chat-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.selected {
    background-color: rgba(56, 117, 109, 0.911);
    color: white;
}

/* Existing styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.friends-list {
    max-height: 300px; /* Limit height for scrolling */
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.friend {
    padding: 10px 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.friend:hover {
    background-color: #e8e8e8;
}

.friend.selected {
    background-color: rgba(56, 117, 109, 1);
    color: white;
    font-weight: bold;
}

.selected-friends {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 10px;
}

.selected-friend {
    background: rgba(56, 117, 109, 0.1);
    color: rgba(56, 117, 109, 1);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    border: 1px solid rgba(56, 117, 109, 1);
}

.selected-friend:hover {
    background: rgba(56, 117, 109, 0.2);
}


.chatCard{
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
    padding: 1vh 0px 1vh 0px;
}
.chatCard span{
    opacity: 50%;
}
.chatList{
    display: flex;
    flex-direction: column;
}

.newChat{
    width: 86% ;
}

.newChatButtonWrapper{
    display: flex;
    justify-content: center;
}

li{
    margin: 0;
}

.chatWindow{
    margin: 0;
}