.wrapbusqueda {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Alinea las cartas a la izquierda */
  gap: 20px; /* Espacio entre las cartas */
  padding-left: 100px; /* Espacio a los costados */
  padding-right: 100px; /* Espacio a los costados */
}


