.profile-container {
    padding: 20px;
    text-align: center;
    background-size: cover;
    color: white;
  }
  .pageTitle{
    color: white;
  }
  .profile-picture-and-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: rgba(56, 117, 109, 0.8); /* Mantener estilo de fondo */
    border-radius: 10px;
    flex-shrink: 0; /* Evitar que este div se reduzca */
    
  }
  .profile-backgorund{
    background-color: rgba(56, 117, 109, 0.8);
    border-radius: 10px;
  }

  .profile-description {
    flex-grow: 1; /* Permitir que este div ocupe todo el espacio restante */
 
    align-items: center;
    background-color: rgba(56, 117, 109, 0.8); /* Mantener estilo de fondo */
    border-radius: 10px;
    padding: 20px;
  }
  .desc{
    align-self: flex-center;
  }
  .profile-headers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 16px; /* Espacio entre los divs */
  }
  

  .profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
  
  .profile-info {
    flex: 1;
    text-align: left;
    margin-left: 20px;
  }
  
  .profile-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    height: 5vh;
  }
  
  .profile-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    justify-self: flex-end;
  }
  
  .profile-content {
    display: flex;
  }
  
  .item-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  
  .item-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .columns {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Adjust the gap as needed */
  }
  
  .profile-post {
    flex: 1 1 calc(33.333% - 16px); /* Adjust the percentage and gap as needed */
    box-sizing: border-box;
  }